<nav class="navbar navbar-expand-sm navbar-light bg-dark">

    <h1 class="navbar-brand text-light" href="#">LibraryManagementSystem</h1>

    <div class="fa fa-align-center" aria-hidden="true">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"
            *ngIf='!homeclicked && !islibrarianlogin && !isadminlogin && !isstudentlogin'>

            <li class="nav-item active">

                <a class="nav-link text-light" href="home">Home</a>

            </li>

        </ul>
        
    </div>
    <ul  class="navbar-nav mr-auto mt-2 mt-lg-0">


        <a class="nav-link text-light " *ngIf='isadminlogin' href="adduser">Add Student Details | <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isadminlogin' href="admin-operation">Student Details <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='islibrarianlogin' href="addbook">Add Book | <span class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='islibrarianlogin' href="librarian-operation ">View All Books |<span
                class="sr-only">(current)</span></a>
        <a class="nav-link text-light " *ngIf='islibrarianlogin' href="librarian">View All Issued Books |<span class="sr-only">(current)</span></a>

        <a class="nav-link text-light " *ngIf='isstudentlogin' href="student-operation">show books</a>
    </ul>

    <a class="nav-link text-light float-right" *ngIf='isstudentlogin||isadminlogin||islibrarianlogin '
        routerLink="logout" (click)='logout()'>Logout</a>

        <a class="nav-link text-light float-right" *ngIf='homeclicked && !islogin' href="login">Login <span class="sr-only">(current)</span></a>
</nav>